@model CreateBottomGridsDto
@{
    ViewData["Title"] = "CreateBottomGrids";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">Yeni Öne Çıkan Ekle</h6>
				<form method="post">
					<label>Öne Çıkan Ikon : </label>
					<input type="text" asp-for="Icon" class="form-control" />
					<br />
					<label>Öne Çıkan Başlık : </label>
					<input type="text" asp-for="Title" class="form-control" />
					<br />
					<label>Öne Çıkan Açıklama : </label>
					<input type="text" asp-for="Description" class="form-control" />
					<br />
					<button class="btn btn-primary">Yeni Öne Çıkan Ekle</button>
				</form>
			</div>
		</div>
	</div>
</div>


