@model CreateProductDto
@{
	ViewData["Title"] = "CreateProduct";
	Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">Yeni İlan Ekle</h6>
				<form method="post">
					<label>İlan Başlığı  : </label>
					<input type="text" asp-for="title" class="form-control" />
					<br />
					<label>Şehir  : </label>
					<input type="text" asp-for="city" class="form-control" />
					<br />
					<label>İlçe  : </label>
					<input type="text" asp-for="district" class="form-control" />
					<br />
					<label>İlan Kategorisi  : </label>
					@Html.DropDownListFor(x=>x.categoryID,(List<SelectListItem>)ViewBag.v,new{@class="form-control"})
					<br />
					<label>İlan Fiyatı  : </label>
					<input type="text" asp-for="price" class="form-control" />
					<br />
					<label>İlan Türü  : </label>
					<input type="text" asp-for="Type" class="form-control" />
					<br />
					<label>İlan Fotoğrafı  : </label>
					<input type="text" asp-for="CoverImage" class="form-control" />
					<br />
					<label>İlan Adresi  : </label>
					<textarea asp-for="Adress" class="form-control" rows="5"></textarea>
					<br />
					<button class="btn btn-primary">Yeni İlan Ekle</button>
				</form>
			</div>
		</div>
	</div>
</div>

